{% extends "bootstrap/base.html" %}
{% block title %} Perfume {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Choose Your Weapon</a>
        </div>    
    </nav>
{% endblock %}

{% block content %}

{% if not session.logged_in %}
     <p>You are not logged in.</p>
{% else %}
     <p>You are logged in.</p>
{% endif %}

<h1>Choose Your Weapon</h1>

<h1>{% for p in example %} {{ p.name }},{% endfor %}</h1>


{% endblock %}